   button{
        height: 20%;
        width: 30%;
        background-color: rgb(65, 79, 206);
        margin: auto;
        margin-top: 20%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    p{
        color: aliceblue;
        font-size: 40px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }